<!DOCTYPE html>


<body>




<div align="center">




<form  action="/calculation" method="get">

Op1:<input type="number" name="op1"  required/>
       
Op2:<input type="number" name="op2" required/><br/><br/>

         
  <input type="radio" name="op" value="add" required>Add<br/><br/>

  <input type="radio" name="op" value="sub">Sub<br/><br/>

  <input type="radio" name="op" value="mul">Mul<br/><br/>

  <input type="radio" name="op" value="div">Div<br/><br/>

  
<input type="submit"/>
<button type="reset" value="reset">Reset</button>



</form>
</div>
</body>
</html>